
.carta.skills .contenido .titulo{
    transition: all .3s ease-out .08s;
}

.carta.skills:hover .contenido .titulo{
    opacity: 1;
    top: 20px;
}

.carta.skills .contenido .titulo:before{
    content: '';
    width: 1em;
    height: 1em;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: rotate(45deg);
    bottom: 0.9em;
    border-top: solid var(--secondary-color) 2px;
    border-left: solid var(--secondary-color) 2px;
    background: linear-gradient(135deg, white 50%, transparent 50%);
}