@tailwind base;
:root{
    --primary-color: #FF844B;
    --secondary-color: #ED9200;
    --tertiary-color: #12C036;
}
html {
    scroll-behavior: smooth;
}
#about .text-justify a{
    color: var(--secondary-color);
}
#about .text-justify a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
@tailwind components;
@tailwind utilities;